.hero_img {
  object-fit: cover;
  width: 100vw;
}

.projects {
  background-color: var(--color-light);
}

.about {
  background-color: var(--color-medium);
}

.about_content {
  display: inline-block;
}

.illustration {
  width: 100%;
  margin-top: -35px;
}

.bg-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  display: flex;
  align-items: center;
}

.img_rainydays {
  background-image: url(../images/lady-yellow-rain.png);
}

.img_semesterProject {
  background-image: url(../images/billetto.jpg);
}

.img_exam {
  background-image: url(../images/jenny.jpg);
}
