@media (min-width: 480px) {
  .projects_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
  }
}

@media (min-width: 768px) {
  .header_content,
  .projects_content,
  .hero,
  .about_content,
  .contact_content {
    max-width: 1000px;
    margin: auto;
  }

  .hero {
    display: flex;
  }

  .hero_img {
    width: 50%;
    margin-right: 25px;
  }

  .button_hamburger {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
  }

  .projects_list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .illustration {
    width: 50%;
  }

  .about_content {
    display: flex;
  }

  .about_text {
    margin-left: 25px;
  }

  .illustration {
    margin-right: 25px;
  }
}
