@import "imports/variables.css";

body {
  margin: 0px;
}

.header-sticky {
  background-color: white;
  position: sticky;
  top: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.hamburger-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-bars {
  font-size: x-large;
}

.nav-ul {
  display: none;
}

.nav-ul.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  background-color: white;
  width: 100%;
  margin: 0;
}

.nav-link {
  list-style-type: none;
  padding: 12px;
}

.nav-link a {
  text-decoration-line: none;
  color: black;
  text-transform: uppercase;
}

.current {
  text-decoration: underline !important;
}

.full-bleed {
  margin-left: calc(50% - 50vw);
}

.content {
  padding: 10px;
}

footer {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
