@import "imports/variables.css";

body {
  margin: 0px;
  font-family: "Proxima nova", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: "Abolition", serif;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}

.logo {
  width: 50%;
}

.header-sticky {
  background-color: white;
  position: sticky;
  top: 0;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.button_hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-bars {
  font-size: x-large;
}

.nav {
  display: none;
}

.nav.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  background-color: white;
  width: 100%;
  margin: 0;
}

.nav_link {
  list-style-type: none;
  padding: 12px;
}

.nav_link a {
  text-decoration-line: none;
  color: black;
  text-transform: uppercase;
}

.current {
  text-decoration: underline !important;
}

.hero_content,
.projects_content,
.about_content,
.contact_content {
  padding: 25px 10px;
}

.button_cta {
  border-radius: 20px 0px 20px 0px;
  border: none;
  background-color: var(--color-dark);
  padding: 16px;
  height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 35px 0;
}

.button_cta:hover {
  border: 2px solid var(--color-dark);
  background-color: var(--color-medium);
}

footer {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
